################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/venv
/__pycache__
/.env.example
/agent_log.log
